* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ffffff;
}

.loader {
  display: flex;
}

.loader__dots {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 10px;
  background: #7609e4;
  animation: loader__dot 1.2s linear infinite;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}


/* animation start */

.loader .loader__dots:first-child {
  animation-delay: 0s;
}

.loader .loader__dots:nth-child(2) {
  animation-delay: 0.1s;
}

.loader .loader__dots:nth-child(3) {
  animation-delay: 0.2s;
}

.loader .loader__dots:nth-child(4) {
  animation-delay: 0.3s;
}
.loader .loader__dots:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes loader__dot {
  0%,
  20%,
  80% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5) translateY(-10px);
  }

  100% {
    transform: scale(1);
  }
}

/* animation end */
